services:
  postgres:
    image: postgres:15
    container_name: feedback-postgres
    environment:
      POSTGRES_DB: meudb
      POSTGRES_USER: usuario
      POSTGRES_PASSWORD: senha
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - feedback-network

volumes:
  postgres_data:

networks:
  feedback-network:
    driver: bridge